<!DOCTYPE html>
<html>
  <body>
    <br>
    <h1>Find User Processes</h1>
    <br><br>
    <form action="<%= url("/processes") %>">
      <div class="form-group">
        <label for="inputUser">Username</label>
        <input type="text" class="form-control" id="inputUser" name="user" autofocus> 
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </body>
</html>
